*{
    box-sizing: border-box;
}

.head{
    font-size: larger;
    display: flex;
    gap: 1344px;

}

.head-des{
    display: flex;
    padding: 90px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.description{
    display: flex;
   margin: 90px;
   margin-top: -70px;

}

.des-title2{
     display: flex;
  
  

}

.body-p1{
display: flex;
gap: 600px;
}


.body1-right{
margin: 90px;
}

.image{
    object-fit: cover;
    padding: 30px;
    transform: scale(0.9);
    width: 1400px;
    height: 700px;

}

.page2{
    background-image: url(page2.jpg);
    height: 100vh;
    width: 100vw;
}


.body2{
    color: aliceblue;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}
.head2{
    color: aliceblue;
    display: flex;
    gap: 900px;
    padding-left: 20px;
    padding-right: 20px;

   
}

.right-head2{
    display: flex;
     gap:90px

}

.global-img{
    max-width: 100%;
    width: auto;
    height: 40px;
    object-fit: cover;
}

#btn-2{
    border: 3px white solid;
    border-radius: 90px;
    padding: 10px;
}